.question-section-wrapper {
  display: flex;
  height: 18.77vh;
  padding: 4.43vh 1.62vh;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  text-align: center;
  gap: 1.38vh;
  flex-shrink: 0;
}

.question-text {
  display: inline-block;
  margin: 0 auto;
  color: #000;
}

.question-text-dark {
  display: inline-block;
  margin: 0 auto;
  color: #fff;
}

.text, .answer-in-question, .spacer, .spacer-dark {
  display: inline-block;
  margin-right: 5px;
  font-size: 3.81vh;
  font-style: normal;
  font-weight: 400;
  line-height: 4.43vh; /* 114.286% */
  letter-spacing: -0.0667vh;
}

.spacer, .spacer-dark {
  width: auto;
  font-size: 2.859vh;
  line-height: 3.81vh;
  border-radius: 1.659vh;
  background-color: #F5F5F5;
  color: #F5F5F5;
}

.spacer-dark {
  background-color: var(--bttn-answer-bttn_color, #212121);
  color: var(--bttn-answer-bttn_color, #212121);
}

.answer-in-question {
  color: #00C75E;
}