.answer-buttons-wrapper {
  display: flex;
  height: 47.31vh;
  padding: 0vh 2.19vh;
  flex-direction: column;
  align-items: flex-start;
  gap: 1.38vh;
  align-self: stretch;
}

.answer-button,
.answer-button-dark,
.green-button,
.red-button,
.red-button-dark {
  display: flex;
  padding: 1.2vh 7.89vh;
  justify-content: center;
  align-items: center;
  gap: 1.38vh;
  align-self: stretch;
  border: 0.3vh solid #F5F5F5;
  border-radius: 1.38vh;
  background: #F5F5F5;
  color: #000;
  text-align: center;
  font-size: 3vh;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.0305vh;
}

.answer-button-dark {
  background: var(--bttn-answer-bttn_color, #212121);
  color: var(--bttn-answer-typo, #FFF);
}

.green-button {
  background-color: #00C75E;
  color: white;
}

.red-button, .red-button-dark {
  border: 0.3vh solid #FB0049;
  color: #FB0049;
}

.red-button-dark {
  background: var(--bttn-answer-bttn_color, #212121);
}

.next-question-button-wrapper {
  display: flex;
  height: 2.216vh;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 0vh 2.19vh;
}

.next-question-button {
  display: flex;
  padding: 1.2vh 7.89vh;
  justify-content: center;
  align-items: center;
  gap: 1.38vh;
  align-self: stretch;
  border: 0.3vh solid #007AFF;
  border-radius: 1.38vh;
  background: #007AFF;
  color: #fff;
  text-align: center;
  font-size: 3vh;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.0305vh;
}

.inactive-next-question-button,
.inactive-next-question-button-dark {
  display: flex;
  padding: 1.8vh 7.89vh;
  justify-content: center;
  align-items: center;
  gap: 1.38vh;
  align-self: stretch;
  border: none;
  border-radius: 1.38vh;
  background: #FCFCFC;
  color: #B7B7B7;
  text-align: center;
  font-size: 3vh;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.0305vh;
}

.inactive-next-question-button-dark {
  background: var(--bttn-answer-bttn_color, #212121);
  color: var(--bttn-answer-typo, #FFF);
}