.answer-buttons-wrapper {
  display: flex;
  height: 49.65vh;
  padding: 0vh 2.3vh;
  flex-direction: column;
  align-items: flex-start;
  gap: 1.45vh;
  align-self: stretch;
}

.answer-button,
.green-button,
.red-button {
  display: flex;
  padding: 1.89vh 8.28vh;
  justify-content: center;
  align-items: center;
  gap: 1.45vh;
  align-self: stretch;
  border: none;
  border-radius: 1.45vh;
  background: #F5F5F5;
  color: #000;
  text-align: center;
  font-size: 3.198vh;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.03211vh;
}

.green-button {
  background-color: #00C75E;
  color: white;
}

.red-button {
  border: 2px solid #FB0049;
  background: #F5F5F5;
  color: #FB0049;
}

.next-question-button-wrapper {
  display: flex;
  height: 2.326vh;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 0vh 2.3vh;
}

.next-question-button {
  display: flex;
  padding: 1.89vh 8.28vh;
  justify-content: center;
  align-items: center;
  gap: 1.45vh;
  align-self: stretch;
  border: none;
  border-radius: 1.45vh;
  background: #007AFF;
  color: #fff;
  text-align: center;
  font-size: 3.198vh;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.03211vh;
}

.inactive-next-question-button {
  display: flex;
  padding: 1.89vh 8.28vh;
  justify-content: center;
  align-items: center;
  gap: 1.45vh;
  align-self: stretch;
  border: none;
  border-radius: 1.45vh;
  background: #FCFCFC;
  color: #B7B7B7;
  text-align: center;
  font-size: 3.198vh;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.03211vh;
}