.answer-section-wrapper {
  display: flex;
  height: 24.625rem;
  padding: 0rem 1rem;
  flex-direction: column;
  align-items: flex-start;
  flex-shrink: 0;
  gap: 2.2rem;
}

.answer-buttons-wrapper {
  display: flex;
  height: 14.5rem;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.5rem;
  align-self: stretch;
}

.answer-button,
.green-button,
.red-button {
  display: flex;
  padding: 0.8125rem 3.5625rem;
  justify-content: center;
  align-items: center;
  gap: 0.625rem;
  align-self: stretch;
  border: none;
  border-radius: 0.625rem;
  background: #F5F5F5;
  color: #000;
  text-align: center;
  font-size: 1.375rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.01381rem;
}

.green-button {
  background-color: #00C75E;
  color: white;
}

.red-button {
  border: 2px solid #FB0049;
  background: #F5F5F5;
  color: #FB0049;
}

.next-question-button-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  gap: 2rem;
  align-self: stretch;
}

.next-question-button {
  display: flex;
  padding: 0.8125rem 3.5625rem;
  justify-content: center;
  align-items: center;
  gap: 0.625rem;
  align-self: stretch;
  border: none;
  border-radius: 0.625rem;
  background: #007AFF;
  color: #fff;
  text-align: center;
  font-size: 1.375rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.01381rem;
}

.inactive-next-question-button {
  display: flex;
  padding: 0.8125rem 3.5625rem;
  justify-content: center;
  align-items: center;
  gap: 0.625rem;
  align-self: stretch;
  border: none;
  border-radius: 0.625rem;
  background: #007AFF;
  color: #B7B7B7;
  text-align: center;
  font-size: 1.375rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.01381rem;
}