.try-again-section-wrapper {
  display: flex;
  height: 20vh;
  padding: 2.25rem 1rem 0rem 1rem;
  justify-content: center;
  align-items: center;
}

.text-and-button-wrapper {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.button-preview {
  display: inline-block;
  justify-content: left; 
  color: var(--bttn-answer-typo, #000);
  text-align: center;
  white-space: pre-wrap;

  /* button previev */
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 510;
  line-height: normal;
  letter-spacing: -0.0375rem;
}

.button-preview-dark {
  display: inline-block;
  justify-content: left; 
  color: var(--bttn-answer-typo, #fff);
  text-align: center;
  white-space: pre-wrap;

  /* button previev */
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 510;
  line-height: normal;
  letter-spacing: -0.0375rem;
}

.try-again-button-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  gap: 4.65vh;
  align-self: stretch;
}

.try-again-button {
  display: flex;
  padding: 1.89vh 8.28vh;
  justify-content: center;
  align-items: center;
  gap: 1.45vh;
  align-self: stretch;
  border: none;
  border-radius: 1.45vh;
  background: #007AFF;
  color: #fff;
  text-align: center;
  font-size: 3.198vh;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.03211vh;
}

.message {
  display: inline-block;
  margin-right: 5px;
  text-align: center;

  /* button previev */
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 510;
  line-height: normal;
  letter-spacing: -0.0375rem;
}

.text-wrapper {
  display: flex;
  height: 16.572vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0vh 2.3vh;
}

.button-wrapper {
  display: flex;
  height: 2.326vh;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 0vh 2.3vh;
}