.button-preview-navigation,
.button-preview-navigation-dark {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 1.38vh;
  color: var(--bttn-answer-typo, #000);
  text-align: center;
  padding-bottom: 1.9vh;

  /* button previev */
  font-size: 2.478vh;
  font-style: normal;
  font-weight: 510;
  line-height: normal;
  letter-spacing: -0.083vh;
}

.button-preview-navigation-dark {
  color: var(--bttn-answer-typo, #fff);
}

.text-wrapper-navigation {
  display: flex;
  height: 15.79vh;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  padding: 0vh 2.19vh;
}

.button-wrapper-navigation {
  display: flex;
  height: 2.264vh;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 0vh 2.19vh;
}

.start_test-button-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  gap: 4.43vh;
  align-self: stretch;
}

.start_test-button {
  display: flex;
  padding: 1.8vh 7.89vh;
  justify-content: center;
  align-items: center;
  gap: 1.38vh;
  align-self: stretch;
  border: none;
  border-radius: 1.38vh;
  background: #007AFF;
  color: #fff;
  text-align: center;
  font-size: 3vh;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.0306vh;
}
